

<button onclick='slideTest()'>Show Slide</button>


<div id='slide_viewer'></div>



<div id='chat'>
  <div id='chat_messages'> </div>
  <div id='chat_controls'>
    <form onsubmit='doSend(); return false;'>
      <p>
        <input id='msg' type='text' style='background-color:green' />
        <input id='send_button' type='submit' value='Choose nickname' />
      </p>
    </form>
  </div>
</div>



