

<h1>Push It!</h1>

<p><button onclick='disconnect()'>disconnect</button></p>
<p><button onclick='connect()'>connect</button></p>

<p>To send a message:</p>

<pre>ruby example/client.rb 1 "some message"</pre>

<p>or <button onclick="send('foo foo')">click here</button></p>
